@font-face {
	  font-family: 'NintendoNESFontRegular';
	  font-style: normal;
	  font-weight: normal;
	  src: url('nintendo_nes_font-webfont.ttf') format('truetype');}

	  body
	  {
		  font-family: 'NintendoNESFontRegular';
		  margin: 10px 0 0 0;
		  height: 100%;
		  background-color: #000;
	  }

		.container
		{
			width: 940px;
			margin: auto;
		}

	  button
	  {
	  	font-family: 'NintendoNESFontRegular';
	  }

	  header
	  {
	  	height: 30px;
	  	text-align: center;
	  	color: #fff;
	  }

	  footer
	  {
	  	width: 750px;
	  	margin: 0 auto;
	  	font-size: .8em;
	  	color: #ccc;
	  }

	  ul
	  {
	  	padding: 0;
	  }

	  ul:before
	  {
	  	clear: both;
	  }

	  .f8_icon
	  {
		  background-color: #3B5998;
		  padding: 10px 5px;
		  margin: 5px;
	  }

	  #lofTitle
	  {
	  	position: relative;
	  	top: 22px;
	  	background-color: #000;
			top: 20px;
	  }

	  .centerTitle
	  {
	  	text-align: center;
	  	margin: 0 auto;
	  }

	  #lof
	  {
	  	background-color: #000;
	  	color: #fff;
	  	height: 100%;
	  }

	  #lof a, #lof a:visited
	  {
	  	color: #fff;
	  	text-decoration: none;
	  }

	  #lofMain
	  {
		border: #473EB1 solid 3px;
		overflow-y: auto;
		padding: 10px;
		margin: 10px 0;
	  }

	  #lofBody
	  {
	  	width: 750px;
	  	margin: 0 auto;
	  }

	  #lofHeader
	  {
	  	text-align: justify;
	  }

	  #lofHeader
	  {
	  	display: inline;
	  }

	  #bio
	  {
	  	width: 100%;
	  	overflow: auto;
	  }

	  #bio canvas
	  {
	  	float: left;
	  }


	  .red_highlight
	  {
	  	color: #D82800;
	  }

	  .fb-list-name
		{
			height: 100px;
			vertical-align: bottom;
		}

		img.fb-pics
		{
			display: none;
		}

		.fb-canvas
		{
			float: left;
			margin: 0 10px 10px 0;
		}

		#lofBody li, #lofHeader li
		{
			overflow: auto;
			list-style: none;
			margin: 5px;
			text-align: justify;
		}

		#lofBody li:hover, #lofHeader li:hover
		{
			color: #D82800;
			cursor: pointer;
		}

		#lofBody ul:after
		{
			clear: both;
		}
